

table {
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;

}

.venda-meta {
	font-weight: bold;
	color: black;
}

table tr {
	border: 0.5px solid #757575;
}

table td {
	border: 0.5px solid #757575;
}

table th {
	border: 0.5px solid #757575;
	background-color: #ff7e00;
	color: black;
}

table tbody tr:nth-child(even) {
	background-color: #faebe0;
}

table tbody tr:hover {
background-color: rgba(0, 151, 63, .5);
}

table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: center;
	vertical-align: middle;
}

table tr td:first-child {
	text-align: left;
	font-weight: bold;
	color: black;
}

table th {
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
}

.table-container tfoot {
	background: #f8cc9f;
}

.table-container tfoot td {
	font-weight: bold;
	color: black;
}
